ion-card-title{
    text-align: center;
}

ion-button{
    top: 5%;
    position: relative;
    left: 25%;
    bottom: 1vh;
}

.block{
    position: relative;
    left: 10%;
    width: 80%;
}

ion-card{
    width: 60%;
    height: auto;
    border-radius: 15px;
    position: relative;
    top: 40%;
    left: 18%;
}


ion-padding{
    width: 45%;
    position: relative;
    left: 27%;
    top: 55%;
    border-radius: 10px;
    text-align: center;
    align-content: center;
}








