<ion-card>
  <ion-card-header><ion-card-title>Cliente-Reserva</ion-card-title></ion-card-header>
  <ion-list class="form">
    <ion-item>
      <ion-input label="Usuario" labelPlacement="floating" placeholder="Enter usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Email" formControlName="email" labelPlacement="floating" placeholder="Enter email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Numero identidad" labelPlacement="floating" placeholder="Numero identidad"></ion-input>
    </ion-item>
  </ion-list>
<ion-button>Registrar</ion-button>
</ion-card>










